			<table>
				<caption>Sample Table with Heading</caption>
				<thead>
					<tr>
						<th>Heading for column1</th>
						<th>Heading for column2</th>
						<th>Heading for column3</th>
						<th>Heading for column4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>First row column 1</td>
						<td>First row column 2</td>
						<td>First row column 3</td>
						<td>First row column 4</td>
					</tr>
					<tr>
						<td>Second row column 1</td>
						<td>Second row column 2</td>
						<td>Second row column 3</td>
						<td>Second row column 4</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">
							&nbsp;
						</td>
					</tr>
				</tfoot>
			</table>