<configuration>
  <system.webServer>
      <httpErrors existingResponse="PassThrough" errorMode="Custom" defaultResponseMode="File" >
	      <remove statusCode="500" />
	      <remove statusCode="400" />
	      <remove statusCode="500" subStatusCode="100" />
	      <error statusCode="400" path="/404.html" responseMode="ExecuteURL" />
	      <error statusCode="500" path="/503.html" responseMode="ExecuteURL" />
      </httpErrors>
  </system.webServer>
</configuration>