//
// Styling for module elements that appear on more than one page
// ====================================================================

// Message types loop 
// N.B.   Sass 3.3 onwards can use associative arrays (maps) to do this
// ====================================================================

@each $message-type in $message-types {
	$type: 		nth($message-type, 1);	
	$color: 	nth($message-type, 2);	

	.message-#{$type} {
		@include message($color);
	}
}

// Link styling

a, a:visited, a:focus, a:hover, a:active {
	color: #00a1d9;    // blue
	text-decoration: none;   // no underlines etc
}

a.bordered:hover {
	border: 2px solid white;
	-ms-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

a img {
	border: none;
}


// Styles for the top navigation bar
//
.top-bar {
	.title-area {
		img {
			position: relative;
			top: 0;
			left: 0;
			overflow: auto;
			margin-bottom: emCalc(10px);
		}
	}
	.name 
		h1 {
		font-family: $logo-font-family;
		text-transform: uppercase;
		font-size: emCalc(14px);
		padding-left: 0;
		margin-left: 0;
		}
}

// Styles for the awards row on main landing page
//
.awardstext {
	text-align: center;
	padding: 0 10px;
}

// Styles for the logopanel on renewal forms
//

.logopanel
{
	background-image: url(../img/small_logo.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

// Styles for the banner image on main landing page
//
.row--banner
{
	background-color: $body-bg;
	background-image: url(../img/mainbanner-small.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// Styles for the banner image on ourclub.html
//
.row--ourclub
{
	background-color: $body-bg;
	background-image: url(../img/clubhouse.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

// Styles for the banner image on league.html
//
.row--league
{
	background-color: $body-bg;
	background-image: url(../img/first_team.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 38em)
{
	.row--banner { 
		background-image: url(../img/mainbanner.jpg);
		height: 360px;
	}
	.row--ourclub
	{
		background-image: url(../img/clubhouse.jpg);
		height: 360px;
	}

	.row--league
	{
		background-image: url(../img/first_team.jpg);
		height: 360px;
	}
}

/* ----------------------------
header
---------------------------- */

.header
{
	padding: 1.25em 1em;
	/* 20px/16px - 16px/16px */
}

.header__logo
{
	float: left;
	padding-top: 2.5em;
}

.header__nav
{
	padding-top: 2.5em;
	float: right;
	width: 200px;
}

.header__nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.header__nav li
{
	display: inline-block;
	margin: 0;
/* 	
	background: #fff;
    opacity: 0.3;
    filter: alpha(opacity=30);
 */
}

.header__nav a
{
	display: block;
	margin-right: .2em;
	padding: 0.6em 1em 0.4em;
	border-radius: .3em;
	color: #fff;
	background: none;
	font-size: 0.8125em;
	/* 13px/16px */
	font-weight: bold;
	text-decoration: none;
}

.header__nav-contact a { margin-right: 0; }

.current a
{
	color: #fff;
	background: #56b880;
}

.header__nav a:focus { background: #000; }
.header__nav a:hover { 
	background: #3bb2d0;
	border: 2px solid white;
	border-radius: .5em;
}

.header__nav a:active { background: #af0000; }

@media (min-width: 38em)
{
	.header
	{
		padding: 2.2222em 2em;
		/* 40px/18px - 36px/18px */
	}
	
	.header__nav { width: 20em; }

	.header__nav a
	{
		font-size: 0.8333em;
		/* 15px/18px */
	}
}

/* ----------------------------
banner-content
---------------------------- */

.banner-content
{
	padding: 1.875em 1.5em 2.8125em;
	/* 30px/16px - 24px/16px - 45px/16px */
	text-align: center;
}

.banner-content__heading
{
	margin: 1em 0 1.5em;
	/* 30px/16px */
	color: #fff;
	font-size: 1.5em;
	/* 24px/16px */
	font-weight: normal;
}

.banner-content__strapline {
	margin: 0 0 1.5em;
	/* 30px/16px */
	color: #fff;
	font-size: 1.2em;
	/* 24px/16px */
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

@media (min-width: 38em)
{
	.banner-content
	{
		padding: 7.5em 2em;
		/* 135px/18px - 36px/18px */
	}

	.banner-content__heading
	{
		font-size: 2.5556em;
		/* 46px/18px */
	}
}

/* ------------------------------------------------------------
 *        footer
 * ------------------------------------------------------------ */

 .footer {
	margin-top: emCalc(24px);
	a {
		color: $body-font-color;
	}
	.footermenuhead {
		margin-top: emCalc(20px);
		margin-left: 20%;
		color: $medium-grey;
	}
	.toprow {
		background-color: $footer-toprow-color;
		.bigfooter {
			ul {
				list-style-type: none;
				li a {
					margin-left: 10%;
					font-size: emCalc(12px);
					text-decoration: none;
					color: $light-grey;
					display: block;
					&:hover {
						background: $light-grey;
						color: $dark-grey;
					}
				}
			}
		}
		.clublogo {
			text-align: center;
			img {
				max-width: 50%;
				margin: 0 auto;
			}
		}
	}

	.bottomrow {
		background-color: $footer-bottomrow-color;
		color: $medium-grey;
		.contactsummary {
			margin-top: emCalc(16px);
		}
	}

	.footnav {
		ul {
			margin: emCalc(5px) 0 0 0;
		}
		li {
			margin-left: 0;
			margin-right: emCalc(15px);
		}
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.joinus {
		padding: 20px;
		background-color: $light-grey;
		color: $dark-grey;
	}

}

.social {
	$height: social-sprite-height(facebook);
	$width: social-sprite-width(facebook);
	h3 {
		margin-top: emCalc(20px);
		color: $medium-grey;
	}
	ul {
		float: left;
	}
	li {
		a {
			display: inline-block;
			height: $height;
			width: $width;
			/*   CSS image replacement  
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			*/
		}
		&.facebook a {
			@include social-sprite(facebook);
			&:hover {
				@include social-sprite(facebook-hover);
			}
		}
		&.twitter a {
			@include social-sprite(twitter);
			&:hover {
				@include social-sprite(twitter-hover);
			}
		}
		&.wordpress a {
			@include social-sprite(wordpress);
			&:hover {
				@include social-sprite(wordpress-hover);
			}
		}
		&.flickr a {
			@include social-sprite(flickr);
			&:hover {
				@include social-sprite(flickr-hover);
			}
		}
	}
}

/* ------------------------------------------------------------
 *        features row
 * ------------------------------------------------------------ */

.feature-grid {
	text-align: center;
}

.feature-image {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.feature-image:hover {
	border: 3px solid #ADADAD;
}

/* ------------------------------------------------------------
 *        involved row
 * ------------------------------------------------------------ */

.involve {
	background-color: #fff;
}

.involved-grid {
	text-align: center;
}

.involved-image {
	height: 100px;
}

.involvedheading {
	text-align: center;
	padding: 0 10px;
}

/* ------------------------------------------------------------
 *        playing row
 * ------------------------------------------------------------ */

.playing {
	background-color: #fff;
}

.playing-grid {
	text-align: center;
}

.playing-image {
	height: 100px;
}

.playingheading {
	text-align: center;
	padding: 0 10px;
}

/* ------------------------------------------------------------
 *        other sports row
 * ------------------------------------------------------------ */

.othersports {
	background-color: $sage-green;
}

.othersports-grid {
	text-align: center;
}

.othersports-image {
	height: 100px;
}

.othersportsheading {
	text-align: center;
	padding: 0 10px;
}

/* ------------------------------------------------------------
 *        Twitter styling
 * ------------------------------------------------------------ */

#twitter-feed {
	#loading-container {
		text-align: center;
		padding: emCalc(16px) 0px;
	}
	.twitter-article {
		border-top: 1px dotted $light-grey;
		// margin-top: emCalc(10px);
		padding: emCalc(5px) 0 emCalc(5px) emCalc(15px);
		.twitter-pic {
			img {
				display: inline-block;
				max-width: 80%;
				margin: 0 5%;
				@include border-radius(7px);
			}
		}
		.twitter-text {
			.tweet-text {
				font-size: emCalc(12px);
				color: $dark-grey;
				// line-height: emCalc(12px);
			}
			&:hover {
				background: $light-grey;
			}
			p {
				.tweet-time {
					font-size: emCalc(10px);
					color: #878787;
				}
				.tweetprofilelink a {
					color:#444;
					&:hover {
						color:#444;
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------------
 *        Wordpress styling
 * ------------------------------------------------------------ */

#blogposts {
	img {
		position: relative;
		top: emCalc(5px);
		left: emCalc(5px);
		max-width: emCalc(20px);
		display: inline-block;
		margin-right: 5%;
		padding-top: emCalc(10px);
		overflow: auto;
	}

	border-top: 1px dotted $light-grey;
	margin-top: emCalc(10px);
}

.blogitem {
	padding: emCalc(8px) 0 emCalc(8px) emCalc(15px);
}

.blogitemtext {
	font-size: emCalc(12px);
	color: $dark-grey;
}

/*
.blogitemtitle {
	font-size: emCalc(14px);
	color: darken($dark-grey,50%);
	font-weight: bold;
}
*/
.blogpostdate {
	color: #878787;
	font-size: emCalc(10px);
	text-align: right;
	padding-right: emCalc(10px);
	font-style: italic;
	line-height: emCalc(12px);
}

.blogitem:hover {
		background: $light-grey;
}

/* ----------------------------
Calendar icon styling
---------------------------- */

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 0 auto 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}
