$color1: #FF0000; // Red
$color2: #FFBF00; // Orange
$color3: #FFFF00; // Yellow
$color4: #7FFF00; // Green
$color5: #007FFF; // Light Blue
$color6: #00FFFF; // Cyan
$color7: #0000FF; // Blue
$color8: #7F00FF; // Purple
$color9: #FF00FF; // Magenta
$color10: #000; // Black
$color11: #FFF; // White
$color-brand: pink; // Yep, pink!
$blockquote-bg: #faebbe; // Yellowy
$color-link: #3D518F; // blue-dark
$sage-green: #85C2A3;

// A simple theme switcher
// ====================================================================

$color-theme: pink;

@if $color-theme == pink {
	$color-brand: pink;
} @else if $color-theme == orange {
	$color-brand: #ff9900;
}

$theme-complement: complement($color-theme);
$theme-invert: invert($color-theme);
$theme-adjust: adjust-hue($color-theme, 90deg);
$theme-shade: shade($color-theme, 20%);
$theme-tint: tint($color-theme, 20%);

// Fonts
$blockquote: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

// Mixin variables
$defined-bs-type: border-box !default;

// Breakpoint variables
// ====================================================================
$XS: 18em; // roughly speaking, around 288px wide with 16px body font
$S: 30em; // roughly speaking, around 480px wide with 16px body font
$M: 43em; // roughly speaking, around 688px wide with 16px body font
$L: 57em; // roughly speaking, around 912px wide with 16px body font

// Default values for text-shadow mixin
// ====================================================================

$default-text-shadow-color: darken($color11,20%);
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 4px;
$default-text-shadow-h-offset: 3px;

// Default values for box-shadow mixin
// ====================================================================
$default-box-shadow-color: lighten($color10, 50%);
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 2px;
$default-box-shadow-spread: false;
$default-box-shadow-inset: false;

// Default value for border-radius
// ====================================================================
$default-border-radius: 5px;

// Message type colors
// N.B.   Sass 3.3 onwards can use associative arrays (maps) to do this
// ====================================================================
$message-error: 	#b94a48;       // Basic red - fail
$message-valid: 	#468847;       // Basic green - success
$message-warning: 	#c09853;       // Basic yellowy-orange - warning
$message-info: 		#3a87ad;	   // Basic medium blue - information
$message-types: (
	(error 		$message-error)
	(valid 		$message-valid)
	(warning 	$message-warning)
	(info 		$message-info)
) !default;

// Any redefiniton of Foundation variables goes here
// ====================================================================

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

@function emCalc($pxWidth) {
  @return $pxWidth / $rem-base * 1em;
}

// Various user-defined global styles or colours

$black: #000;
$white: #fff;
$grey: lighten($black, 50%);
$dark-grey: lighten($black, 30%);
$medium-grey: darken($white, 50%);
$light-grey: darken($white, 10%);
$footer-toprow-color: #33353B;
$footer-bottomrow-color:  #26272B;
$topbar-bg-color: black;
$topbar-dropdown-bg: $medium-grey;

$body-bg: $white;
$body-font-color: #473016;
$body-font-family: "MyriadPro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

// Colors

// We use these as default colors throughout
$primary-color: #00a1d9;
$secondary-color: #c2bdb7;
// $alert-color: #c60f13;
$alert-color: #CA876C;
$success-color: #a8bb26;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

// Control header font styles

$header-font-family: "NeoSansProBold", "OpenSans", Arial, sans-serif;
$header-font-weight: normal;
// $header-font-style: normal;
$header-font-color: $dark-grey;
// $header-line-height: 1.4;
// $header-top-margin: .2em;
// $header-bottom-margin: .5em;
// $header-text-rendering: optimizeLegibility;

$logo-font-family: "NeoSansProBold", "OpenSans", Arial, sans-serif;
$icon-font-family: "foundation-icons";

// Tabbed dialogue styling

$tabs-navigation-padding: rem-calc(16);
$tabs-navigation-bg-color: $dark-grey;
$tabs-navigation-active-bg-color: $black;
$tabs-navigation-hover-bg-color: scale-color($tabs-navigation-bg-color, $lightness: -6%);
$tabs-navigation-font-color: $black;
$tabs-navigation-active-font-color: $white;
$tabs-navigation-font-size: rem-calc(16);
$tabs-navigation-font-family: $body-font-family;


