<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled 1</title>
<style type="text/css">
.style1 {
	background-color: #FFFFFF;
}
.style2 {
	background-color: #FFFF99;
}
.style3 {
	background-color: #CCFFCC;
}
</style>
</head>

<body>

<table style="width: 770px; background-color: #CCFF99;">
	<tr>
		<td colspan="2" style="height: 110px" class="style3">
			<img alt="" src="http://hamptontennis.org.uk/images/logo.gif" width="88" height="100" style="position:relative; display: inline; top: 1px; left: 1px;" />
			<h1 style="position:absolute; top: 30px; left: 120px;">Hampton-in-Arden Tennis Club</h1>
			<h2 style="position:absolute; top: 80px; left: 120px;">??????</h2>
		</td>
	</tr>
	<tr>
		<td class="style1" width="33%">&nbsp;</td>
		<td class="style2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center;" class="style3">
			<p id="reminder">
			Don't forget: Keep your eyes on your email's and the Tennis Club web&nbsp;<a href="http://hamptontennis.org.uk/eventlist.asp">Event Diary</a> 
			for more events (when we list them!)
			</p>
		</td>
	</tr>
</table>

</body>

</html>
