  <div class="row">
    <div class="large-8 medium-12 small-12 columns">
      <p>
        It is always best to discuss your coaching requirements one-to-one with one of our coaching staff but, with your birth date being <strong><%= mydob %></strong>, we think you should start your coaching at Hampton in:
      </p>
      <h3 class="minitots">Mini-Tennis Tots</h3>
      <p>
        As you are currently <%= myageinyears %> years old, the best current fit for your tennis coaching and development is in the Mini-Tennis Tots category (ages 3 to 5 years old). Hampton is an accredited Mini-Tennis centre and offers excellent coaching for everyone in this age group and beyond, encompasing all the LTA Mini-Tennis categories and through your teenage years.
      </p>
      <p>
        Tots is for children aged 3 to 5 years old and enables them to learn the basics and how to enjoy the game through a series of fun activities, based on the fundamental areas of balance, co-ordination, agility, movement and racket and ball skills.
      </p>
      <p>
        Our coaching staff currently provide coaching sessions for each age group in the National Competition Framework, starting with the Tots Tennis (3-5 years old) age group. Check out the current coaching schedule for details of what courses are being run, when and what the charges are.
      </p>
      <hr />
      <a href="http://www.lta.org.uk/LTA-Mini-Tennis/Tots/What-is-Tots/" class="large fullwidth info button">Further LTA Mini-Tennis Tots Info</a>
    </div>

    <div class="large-4 medium-4 small-12 coachlist columns">
      <h4>Contact a Coach</h4>
      <ul>
        <li>
          <a href="ianpoole.html">Ian Poole</a>
          <p class="mobile">mobile: 07968 451956</p>
        </li>
        <li>
          <a href="sampeace.html">Sam Peace</a>
          <p class="mobile">mobile: 07825 577449</p>
        </li>
        <li>
           <a href="belkacemchefri.html">Bel Chefri</a>
          <p class="mobile">mobile: 07850 341837</p>
        </li>
      </ul>

      <hr />

      <div class="panel">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <h4>Right<br />Now</h4>
            <p clas="minitots">
              Mini-Tennis Tots (ages 3-5)
            </p>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <a href="minitots.html"><img src="/img/totsavatar.jpg" /></a>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <h4>Next<br />Steps</h4>
            <p class="minired">
              Mini-Tennis Red (ages 5-8)
            </p>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <a href="minired.html"><img src="/img/redavatar.jpg" /></a>
          </div>
        </div>
      </div>

      <hr />
      
      <a href="coaching_schedule.html" class="large fullwidth info button">Coaching Schedule</a>

    </div>

  </div>
