  <div class="row">
    <div class="large-8 medium-12 small-12 columns">
      <p>
        It is always best to discuss your coaching requirements one-to-one with one of our coaching staff but, with your birth date being <strong><%= mydob %></strong>, we think you should start your coaching at Hampton in:
      </p>
      <h3 class="minired">Mini-Tennis Red</h3>
      <img src="/img/cf_red_court.jpg" />
      <p>
        The best current fit for your tennis coaching and development is in the Mini-Tennis Red category (ages 5 to 8 years old). Hampton is an accredited Mini-Tennis centre and offers excellent coaching for everyone in this age group and beyond, encompasing all the LTA Mini-Tennis categories and through your teenage years.
      </p>
      <p>
        Mini red tennis is an ideal and exciting way to introduce tennis to young children. At this stage we introduce movement, co-ordination, balance and reception skills as well as the (more obvious) hand-eye coordination ball hitting skills. The Mini Tennis system runs from red through orange to green, depending on age and standard of play. Children are in groups of their standard and age for coaching sessions.
      </p>
      <p class="panel">
        As you are 8 years-old right now (and therefore at the top end of Mini-Tennis Red), the club coach has discretion whether to recommend you join the Mini-Tennis Orange category now or later. If you feel you are capable of playing at the level required for Orange Mini-Tennis (for a quick peak of what is involved, go to the Next Steps section on the right), then have a word with your coach about moving up to Mini-Tennis Orange now.
      </p>
      <p>
        Our coaching staff currently provide coaching sessions for each age group in the National Competition Framework, starting with the Tots Tennis (3-5 years old) age group. Check out the current coaching schedule for details of what courses are being run, when and what the charges are.
      </p>
      <hr />
      <a href="http://www.lta.org.uk/LTA-Mini-Tennis/Red/Mini-Tennis-Red/" class="large fullwidth info button">Further LTA Mini-Tennis Red Info</a>
    </div>

    <div class="large-4 medium-4 small-12 coachlist columns">
      <h4>Contact a Coach</h4>
      <ul>
        <li>
          <a href="ianpoole.html">Ian Poole</a>
          <p class="mobile">mobile: 07968 451956</p>
        </li>
        <li>
          <a href="sampeace.html">Sam Peace</a>
          <p class="mobile">mobile: 07825 577449</p>
        </li>
        <li>
          <a href="belkacemchefri.html">Bel Chefri</a>
          <p class="mobile">mobile: 07850 341837</p>
        </li>
      </ul>

      <hr />

      <div class="panel">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <h4>Right<br />Now</h4>
            <p>
              Mini-Tennis Red
            </p>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <a href="minired.html"><img src="/img/redavatar.jpg" /></a>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <h4>Next<br />Steps</h4>
            <p>
              Mini-Tennis Orange
            </p>
          </div>
          <div class="large-6 medium-6 small-6 columns">
            <a href="miniorange.html"><img src="/img/orangeavatar.jpg" /></a>
          </div>
        </div>
      </div>

      <hr />
      
      <a href="coaching_schedule.html" class="large fullwidth info button">Coaching Schedule</a>

    </div>

  </div>
