  <div class="row">
    <div class="large-8 medium-12 small-12 columns">
      <p>
        It is always best to discuss your coaching requirements one-to-one with one of our coaching staff but, with your birth date being <strong><%= mydob %></strong>, we think you should start your coaching at Hampton in:
      </p>
      <h3>Adult Coaching and Development</h3>
      <p>
        The National Competition Framework makes no explicit statement of a maximum age for taking part in this, supervised programme. It is expected, however, that by the age of 18 (and you are now <%= myageinyears %>) that your need for such a strongly supervised programme at club coaching level will reduce - as you enjoy playing tennis and are able to make your own arrangements with regard to external competitions that you may wish to enter.
      </p>
      <p>
        The club does recognise that adults who have recently taken up tennis and/or who have gone back to tennis after some periods of neglect (due to pressures of career and family, for example) will wish to develop their game and enjoy tennis to a reasonable standard, perhaps taking part in Hampton's league teams or continuing to enjoy the social tennis at the club. If you feel that there would be sufficient demand for more structured adult coaching within the club, please contact the coach, Ian Poole (07968 451956) to dicuss your requirements. In the past, the club has seen both individual coaching sessions and group adult coaching sessions run by its coaching staff at various times.<br /><br />
        Take a look at our general adult coaching provision and see what would be of most use to you.
    </p>
     <hr />
      <a href="adult_coaching.html" class="large button">Ongoing Adult Coaching and Development at Hampton</a>
    </div>

    <div class="large-4 medium-4 small-12 coachlist columns">
      <h4>Contact a Coach</h4>
      <ul>
        <li>
          <a href="ianpoole.html">Ian Poole</a>
          <p class="mobile">mobile: 07968 451956</p>
        </li>
        <li>
          <a href="sampeace.html">Sam Peace</a>
          <p class="mobile">mobile: 07825 577449</p>
        </li>
        <li>
        <li>
          <a href="belkacemchefri.html">Bel Chefri</a>
          <p class="mobile">mobile: 07850 341837</p>
        </li>
        <li>
          <a href="samhiskett.html">Sam Hiskett</a>
          <p class="mobile">mobile: 07539 269485</p>
        </li>
        <li>
          <a href="zachjones.html">Zach Jones</a>
          <p class="mobile">mobile: 07873 136795</p>
        </li>
      </ul>

      <hr />
      
      <a href="coaching_schedule.html" class="large button">Coaching Schedule</a>

    </div>

  </div>
