		<div class="seealso">
			<h3>See Also:</h3>
			<ul>
				<li><a href="ianpoole.asp">Further info on Ian Poole, Head Coach</a></li>
<!--				
				<li><a href="belindabutterworth.asp">Further info on Belinda Butterworth, Coaching Assistant</a></li>
				<li><a href="ianpoole.asp">Further info on Jacob Pratt, Coaching Assistant</a></li>
-->
				<li><a href="coaching_schedule.asp">Current junior coaching schedule</a></li>
				<li><a href="crenewal.asp">Junior coaching booking form</a></li>
			</ul>
		</div>
