<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW, NOARCHIVE">
	<title>Hampton-In-Arden Tennis Club - Sending Email to a Team Squad</title>	<link rel="stylesheet" media="screen" type="text/css" href="tennis3col.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="softboxes.css" />
	<link rel="stylesheet" media="print" type="text/css" href="print3col.css" />
	<script language="Javascript" src="minmax.js"></script>
</head><body><div id="container">	<div id="header">		<img id="clublogo" src="images/logo.gif" width="88" height="100" alt="Hampton-In-Arden Sports Club logo" />		<h2>Hampton-In-Arden Sports Club</h2>		<h3>Tennis Section</h3>	</div>
	<div id="content">
		<div id="mainContent">			<h3>General email message for <span style="color:red; font-weight:bold;">ZZteamZZ squad members</span></h3>
			<p>				ZZmessageZZ			</p>
		</div>   <!-- mainContent -->
	</div>  <!-- content -->
	<div id="footer" class="bordertop">
		<p id="reminder">
			Don't forget: Keep your eyes on your email's and the Tennis Club web&nbsp;<a href="http://hamptontennis.org.uk/eventlist.asp">Event Diary</a> 
			for more events (when we list them!)
		</p>
	</div>
</div>   <!-- container -->
</body>
</html>