<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />		<meta http-equiv="Content-Language" content="en-us" />
		<title><%= clubname %> - <%= pagetitle %></title>
		<link rel="stylesheet" media="screen" type="text/css" href="http://hamptontennis.org.uk/tennis_email.css" />
		<link rel="stylesheet" media="screen" type="text/css" href="white-rounded.css" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" href="white-rounded-ie.css" media="screen" />
<![endif]--><!--
		<link rel="stylesheet" media="print" type="text/css" href="print3col.css" />
-->		<script language="Javascript" src="datetimepicker.js"></script>
		<script language="Javascript" src="minmax.js"></script>
	</head>
<body>

<font size="2">
<table class="MsoNormalTable" style="width: 386.25pt" cellPadding="0" width="515" border="0">
  <tr style="height: 30pt" height="40">
    <td style="width: 386.25pt; height: 30pt; padding: 3.75pt; background: green" width="515" bgColor="green" height="40">
    <table class="MsoNormalTable" style="width: 386.25pt" cellPadding="0" width="515" border="0">
      <tr style="height: 30pt" height="40">
        <td style="width: 386.25pt; height: 30pt; padding: 3.75pt; background:" width="515" bgColor="green" height="40">
        <font size="2">
        <table class="MsoNormalTable" style="width: 386.25pt" cellPadding="0" width="515" border="0">
          <tr style="height: 30pt" height="40">
            <td style="width: 386.25pt; height: 30pt; padding: 3.75pt; background: green" width="515" bgColor="green" height="40">
            <p class="MsoNormal" style="text-align: center" align="center"><u>
            <font color="white" size="4">
            <span style="font-size: 13.5pt; color: white; font-family: Verdana">
            Hampton-In-Arden Tennis Club</span></font></u></p>
            <p style="text-align: center" align="center"><u>
            <font color="white" size="4">
            <span style="font-size: 13.5pt; color: white; font-family: Verdana">
            Ian's Telephone Number</span></font></u></td>
          </tr>
          <tr>
            <td style="width: 386.25pt; padding: 3.75pt; background: #66ff99" width="515" bgColor="#66ff99">
            <h1 style="text-align: center" align="center">&nbsp;</h1>
            <p align="center"><b><font face="Verdana" color="#0000ff" size="5">
            Our new coach, Ian can be contacted on:</font></b></p>
            <p align="center"><strong>
            <font face="Verdana" color="#0000ff" size="5">07968 451956</font></strong></p>
            <p align="center"><font face="Verdana">Unfortunately there was a 
            slight mistake on our last email communication when Ian's number was 
            incorrectly given as:</font></p>
            <p align="center"><font face="Verdana">0796<b><font color="#ff0000">2</font></b> 
            451956</font></p>
            <p align="center"><font face="Verdana">Apologies for any 
            inconvenience caused.</font></p>
            <p align="center"><font face="Verdana">&nbsp;</font></td>
          </tr>
        </table>
        </font></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td style="width: 386.25pt; padding: 3.75pt; background: #66ff99" width="515" bgColor="#66ff99">
    <p class="MsoNormal" align="center"><br>
    <font face="Verdana" color="#000080" size="4">Don't forget: The Annual 
    Presentation Dinner at the Forest Hotel in Dorridge, Saturday 10 November 
    2007</font></td>
  </tr>
</table>
</font>

</body>

</html>
