<html>
 <head>
	<title>Hampton-In-Arden Tennis Club</title>
	<link rel="stylesheet" type="text/css" href="http://hamptontennis.org.uk/tennis_email.css" />
	<link rel="stylesheet" type="text/css" href="http://hamptontennis.org.uk/softboxes.css" />
</head>
<body>
<div id="wrapper">
	<div id="wrapperheader">
		<a href="http://hamptontennis.org.uk/index.asp"><img id="clublogo" src="http://hamptontennis.org.uk/images/logo.gif" width="88" height="100" alt="Hampton-In-Arden Sports Club logo" /></a>
		<h2>Hampton-In-Arden Tennis Club</h2>
	</div>    <!-- wrapperheader -->
	<div id="wrappercontent">
		<div id="minitennis" style="height:135px;" class="floatleft">
			<img id="minitennislogo" src="http://www.hamptontennis.org.uk/images/arielmt1.gif"  style="border:none;" width="142" height="120" alt="Ariel Mini-Tennis logo" />
			<p class="caption" style="text-align:center;">Mini-Tennis logo</p>
		</div>
		<h3 class="centered">2008 Annual Mini-Tennis Tournaments</h3>
		<br />
		<div>
			<p>
			<h5><span style="color:red; text-align:left; font-weight: bold; padding-left:50px;">Mini red</span> - Sat 7 June, 2pm</h5>
			<h5><span style="color:orange; text-align:left; font-weight: bold; padding-left:50px;">Mini orange</span> - Sun 8 June, 1pm</h5>
			<h5><span style="color:green; text-align:left; font-weight: bold; padding-left:50px;">Mini green</span> - Sun 8 June, 2.30pm</h5>
			</p>
			<br />
		</div>
		<p style="clear:both;">All mini tennis players are invited to take part in our Annual Mini Tennis Tournaments!</p>
		<p>
		This is a great opportunity to put into practice all the skills you have been developing.  So, come and play tennis with your friends at the Club!
		There will be medals for the runners up and winners. 
		</p>
		<p>
		REMINDER: Juniors who are aged 7 or older as at 1 April 2008 <u>must</u> be members of the club to compete.  Juniors  below this age do need to be 
		members, but should be registered on the club database.
		</p>
		<div>
			<p> There are four competition categories:<br /><br />
			<span style="color:red; text-align:left; font-weight: bold;">Mini red</span> - GIRLS & BOYS BORN IN 2000 OR LATER<br />
			<span style="color:orange; text-align:left; font-weight: bold;">Mini orange</span> - GIRLS & BOYS BORN IN 1999, 2000 OR 2001<br />
			<span style="color:green; text-align:left; font-weight: bold;">Mini green</span> - GIRLS BORN IN 1998 OR 1999<br />
			<span style="color:green; text-align:left; font-weight: bold;">Mini green</span> - BOYS BORN IN 1998 OR 1999<br />
			</p>
		</div>
		<p>
			If you are not sure which mini-tennis colour band you belong to, please speak to Ian for guidance or go to 
			<a href="http://www.hamptontennis.org.uk/juniors/minitennis.html">our web site</a> and fill in your date of birth for a quick check.
		</p>
		<p class="borderbottom">
			Please don't forget participants who are aged 7 or older as at 1 April 2008 must be MEMBERS of the club.  Younger participants must be 
			registered on the club data base.  If you wish to know more contact Chester Barnes on , go onto our website www.hamptontennis.org.uk, 
			or pick up a membership application form from the tennis notice board in the club house.<br /><br />
		</p>
		<div id="badweather" class="answer">
			<img id="badweather" class="boxright" border="0" src="http://www.hamptontennis.org.uk/images/bad-weather.jpg">
			<p style="font-weight:bold;">Bad weather on tournament day?</p>
			<p>
			We do our very best to run scheduled tournaments despite the weather but as always our primary concern is safety for 
			everyone using the courts. So, if it is raining heavily on the day of the tournament, the event will be cancelled or postponed. 
			If the weather is uncertain, please phone Ian (07968 451956) to check if it is still going to take place.
			</p>
		</div>	
		<p>
			TO PLAY IN THE TOURNAMENT PLEASE FILL IN THE FORM BELOW.<br /><br />
			GOOD LUCK!<br /><br /><br /><br />
		</p>
		<div id="minitennistournamentform" style="border-bottom: 1px solid #C60; border-top: 1px solid #C60;">
		<table>
			<caption>ENTRY FORM</caption>
			<thead>
				<tr>
					<td colspan="2" width="100%">
						<p class="centered">
							&nbsp;
						</p>
					</td>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td width="50%" class="doubleheight" colspan="2" align="center">I wish to enter the red/orange/green tournament (please delete as appropriate)</td>
			</tr>			<tr>
				<td width="50%" class="doubleheight">Name:<span style="margin-left: 20px;"><b><%= mForename1 %></b>&nbsp;<b><%= mSurname %></b></span></td>
				<td width="50%" class="doubleheight">DOB:<span style="margin-left: 20px;"></span></td>
			</tr>
			<tr>
				<td width="50%" class="doubleheight">Home Tel:<span style="margin-left: 20px;"><b><%= mHomePhone %></span></td>
				<td width="50%" class="doubleheight">Emergency Tel:&nbsp;&nbsp;</td>
			</tr>
			<tr>
				<td width="50%" class="doubleheight" colspan="2" align="center">I enclose &pound;4:________________  (cash, or cheque made payable to Ian Poole)</td>
			</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="2" width="100%">
						<p class="centered">
							Please return this form by Saturday 31 May 2008 at the latest to our coach<br /><br />Ian Poole (07968 451956), or by post to:<br /><br />
							Jayne Barnes, 68 Meriden Road, Hampton-In-Arden, B92 0BT
						</p>
					</td>
				</tr>
			</tfoot>
		</table>		
		</div>
	</div>  <!-- wrappercontent -->
	<div id="wrapperfooter" class="bordertop">
		<p id="reminder">
			Don't forget:<br /><br />Next event at the club is the annual Wimbledon ticket draw which is taking place on Friday 23rd May from 8.00 pm.<br />
			Keep your eyes on your email's and the Tennis Club web&nbsp;<a href="http://hamptontennis.org.uk/eventlist.asp">Event Diary</a> 
			for more events (when we list them!)
		</p>
	</div>   <!-- wrapperfooter -->
</div>   <!-- wrapper -->
</body>
</html>